# ConTeXt Garden Wiki Mirror
# https://github.com/gucci-on-fleek/context-wiki-mirror
# SPDX-License-Identifier: MPL-2.0+ or GFDL-1.2+
# SPDX-FileCopyrightText: 2026 Max Chernoff

__pycache__
.venv
*.egg-info
credentials.toml
mirror/
