/* Initialization */
:root {
    /* All of the colors that we can use */
    --color-light: hsl(32, 98%, 92%);
    --color-light-semi: hsl(32, 35%, 65%);
    --color-light-faded: hsl(32, 20%, 40%);
    --color-dark: hsl(32, 80%, 8%);
    --color-dark-semi: hsl(32, 35%, 28%);
    --color-dark-faded: hsl(32, 20%, 60%);
    --color-blue: hsl(213, 90%, 33%);
    --color-purple: hsl(280, 90%, 37%);
    --color-light-blue: hsl(213, 85%, 75%);
    --color-light-purple: hsl(280, 84%, 75%);

    --monospace-font: ui-monospace,
        Consolas,
        Inconsolata,
        "Roboto Mono",
        "Fira Mono",
        monospace;
    --heading-ratio: 0.7071067811865476;
    --heading-base: 2.5rem;
    --margin-big: 1.75rem;
    --margin-small: 0.5rem;
    --base-font-size: 1.125rem;
    --page-margin: 15px;
    --max-page-width: 62.5rem;
    --margin-width: calc((100vw - var(--max-page-width)) / 2);
}

@media (max-width: 62.5rem) {
    :root {
        --margin-width: var(--page-margin);
    }
}

:root {
    /* Default (light mode) */
    --color-background: var(--color-light);
    --color-text: var(--color-dark);
    --color-link: var(--color-blue);
    --color-link-followed: var(--color-purple);
    --color-faded: var(--color-dark-faded);
    --color-semi: var(--color-dark-semi);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark mode */
        --color-background: var(--color-dark);
        --color-text: var(--color-light);
        --color-link: var(--color-light-blue);
        --color-link-followed: var(--color-light-purple);
        --color-faded: var(--color-light-faded);
        --color-semi: var(--color-light-semi);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}


/* 
<pre>
*/

	.first   { background-color:#cfefff; }
	.second  { background-color:#b2f2b2; }
	.third   { background-color:#f8bfbf; }
        .fourth  { background-color:#efef98; }
	.cmd     { font-family: var(--monospace-font);  }
	.annot   {  margin-top:1cm; }
	.large   { font-size: 24pt; }
/* new color names, based on proposal by thala, to replace first ... fourth eventually */
.arg1 { font-family: var(--monospace-font);  background-color: #cfefff}  
.arg2 { font-family: var(--monospace-font);  background-color: #b2f2b2}  
.arg3 { font-family: var(--monospace-font);  background-color: #f8bfbf}  
.arg4 { font-family: var(--monospace-font);  background-color: #efef98}  
.arg5 { font-family: var(--monospace-font);  background-color: #bfc4ee}  
.arg6 { font-family: var(--monospace-font);  background-color: #f5deb3}  
.arg7 { font-family: var(--monospace-font);  background-color: #e4bfe4} 

.doc1 { background-color: white; border-bottom: 1px solid #cfefff; border-left: 20px solid #cfefff; }  
.doc2 { background-color: white; border-bottom: 1px solid #b2f2b2; border-left: 20px solid #b2f2b2; }  
.doc3 { background-color: white; border-bottom: 1px solid #f8bfbf; border-left: 20px solid #f8bfbf; }  
.doc4 { background-color: white; border-bottom: 1px solid #efef98; border-left: 20px solid #efef98; }  
.doc5 { background-color: white; border-bottom: 1px solid #bfc4ee; border-left: 20px solid #bfc4ee; }  
.doc6 { background-color: white; border-bottom: 1px solid #f5deb3; border-left: 20px solid #f5deb3; }  
.doc7 { background-color: white; border-bottom: 1px solid #e4bfe4; border-left: 20px solid #e4bfe4; } 

/* next three classes are generated by <syntax> */
a.cmdref:link    { color: #aa1717; text-decoration: none;} 
a.cmdref:visited { color: #aa1717; text-decoration: none;} 
a.cmdref:hover   { color: #36b;    text-decoration: none;} 
a.cmdref:active  { color: #aa1717; text-decoration: none;}

a.cmdinst:link    { color: #aa1717; text-decoration: none; font-style: italic;} 
a.cmdinst:visited { color: #aa1717; text-decoration: none; font-style: italic;} 
a.cmdinst:hover   { color: #36b;    text-decoration: none; font-style: italic;} 
a.cmdinst:active  { color: #aa1717; text-decoration: none; font-style: italic;}

a.cmdvalue:link    { color: #aa1717; text-decoration: none; font-style: italic;} 
a.cmdvalue:visited { color: #aa1717; text-decoration: none; font-style: italic;} 
a.cmdvalue:hover   { color: #36b;    text-decoration: none; font-style: italic;} 
a.cmdvalue:active  { color: #aa1717; text-decoration: none; font-style: italic;}

span.iref span.arg1 { border: 5px solid #cfefff; }
span.iref span.arg2 { border: 5px solid #b2f2b2; }  
span.iref span.arg3 { border: 5px solid #f8bfbf; }  
span.iref span.arg4 { border: 5px solid #efef98; }  
span.iref span.arg5 { border: 5px solid #bfc4ee; }  
span.iref span.arg6 { border: 5px solid #f5deb3; }  
span.iref span.arg7 { border: 5px solid #e4bfe4; }

span.ireferror { background-color: red; }

span.variantname::before {
  content: ' (';
}

span.variantname::after {
  content: ' variant)';
}

span.variantname {
     
    font-weight:normal;
    font-size: large;
}

    /* Style the buttons that are used to open the tab content */
    button.tablinks {
      display: block;
      background-color: transparent;
      padding: 5px 5px;
      width: 30%;
      outline: none;
      text-align: left;
      cursor: pointer;
      font-size: 14pt;
      font-weight: bold;
      transition: 0.3s;
      margin-top: 0.70em; margin-bottom: 0.70em; padding-top: 0.5rem; padding-left: 0.5rem;  border-bottom: none; border-left: solid 8px #aa1717;
    }

    /* Change background color of buttons on hover */
    button.tablinks:hover {
      background-color: #ddd;
    }

    /* Create an active/current "tab button" class */
    button.tablinks.active {
      background-color: #ccc;
      color: black;
    }

    /* Style the tab content */
    .contextxmlform {
      margin-left: 10px;
      display: none;
    }
#shortdescform {
      margin-left: 10px;
      display: block;
}

h1.command {
  font-family: var(--monospace-font); 
    font-weight: bold;
/*   font-size: xx-large; */
}

span.minor {
    font-style:italic;
    font-weight:normal;
}

#googleSearch {
    width: 10.9em;
    margin: 0;
    font-size: 95%;
}

#search_string  {
    width: 10.9em;
    margin: 0;
    font-size: 95%;
}

#bodyContent a[href ^="javascript:"] {
    background: none;
    padding: 0px;
    text-decoration: none ;
}

/* pg: new markup <texcode>..</texcode> */
/* th: colors adjusted to be closer to standard hans' usage */

pre.tex { color:#000000; border-radius: 6px;  }
pre span.documentcs { color:#007F00; font-weight: bold;}
pre span.stylecs { color:#007F00; }
pre span.systemcs { color:#00007F; }
pre span.protectedcs { color:#7F007F; }
pre span.cs { color:#00007F; } /* basic, ends up as primitives only */
pre span.def { color:#00007F; }
pre span.comment { color:#7F7F00; }
pre span.br { color:#7F0000; }
pre span.brx { color:#00007F; }

pre.xml { color:#000000;  }
pre span.name    { color:#3366BB; }

/* 2025.01.10 */
.toc { border-radius: 6px;  }

/* 
</pre>
*/

/*==============================================================================*/
/* TWEAKS OF THE DEFAULTS                                                       */

/*background-color: #eeeedc ; border-top: solid 1px #aa1717; border-bottom: none; } */

.mw-body h1 { margin-top: 0.70em; margin-bottom: 0.70em; padding-top: 0.5rem; padding-left: 0.5rem;  border-bottom: none; border-left: solid 8px #aa1717;  font-size: 145%;}

.mw-body-content h1 { margin-top: 0.70em; margin-bottom: 0.70em; padding-top: 0.5rem; padding-left: 0.5rem;  border-bottom: none; border-left: solid 8px #aa1717;  font-size: 145%; font-weight: bold;}
.mw-body-content h2 { margin-top: 0.70em; margin-bottom: 0.60em; padding-top: 0px;  font-size: 120%; ; font-weight: bold;}
.mw-body-content h3 { margin-top: 0.70em; margin-bottom: 0.50em; padding-top: 0px; border-style: none;  font-size: 100%; ; font-weight: bold;}

.mw-body-content ul { margin-top: 0.5em; padding-top: 0.5em; margin-bottom: 0.5em; padding-bottom: 0.5em;}
.mw-body-content li ul { margin-top: 0px; padding-top: 0px; margin-bottom: 0.5px; padding-bottom: 0.px;}

/* comment after feedback on mailing list 20200629
https://lists.contextgarden.net/pipermail/wiki/2020/000112.html*/

.mw-parser-output a.external:link    { color: #aa1717; text-decoration: none;}
.mw-parser-output a.external:visited { color: #aa1717; text-decoration: none;}
.mw-parser-output a.external:hover   { color: #36b;    text-decoration: none;}
.mw-parser-output a.external:active  { color: #aa1717; text-decoration: none;}

.mw-parser-output a.extiw:link    { color: #aa1717; text-decoration: none;}
.mw-parser-output a.extiw:visited { color: #aa1717; text-decoration: none;}
.mw-parser-output a.extiw:hover   { color: #36b;    text-decoration: none;}
.mw-parser-output a.extiw:active  { color: #aa1717; text-decoration: none;}

#mw-panel .portal .body li  a:link    { color: #aa1717; text-decoration: none;}
#mw-panel .portal .body li  a:visited { color: #aa1717; text-decoration: none;}
#mw-panel .portal .body li  a:hover   { color: #36b;    text-decoration: none;}
#mw-panel .portal .body li  a:active  { color: #aa1717; text-decoration: none;}

a:link    { color: #aa1717; text-decoration: none;} 
a:visited { color: #aa1717; text-decoration: none;} 
a:hover   { color: #36b;    text-decoration: none;} 
a:active  { color: #aa1717; text-decoration: none;}

a.external:link    { color: #aa1717; text-decoration: none;} 
a.external:visited { color: #aa1717; text-decoration: none;} 
a.external:hover   { color: #36b;    text-decoration: none;} 
a.external:active  { color: #aa1717; text-decoration: none;}

a.new:link    { color: red; text-decoration: none;}
a.new:visited { color: red; text-decoration: none;}
a.new:hover   { color: red; text-decoration: none;}
a.new:active  { color: red; text-decoration: none;}

.mw-parser-output h1 tt { font-size: 80%; }

/*==============================================================================*/
/* Specific to vector                                                           */

.mw-body {
  border:1px solid #c18e8e;
  border-right-width:0;
  margin-top:-1px
 }


.vectorTabs li { 
background-image: url(https://wiki.contextgarden.net/images/8/8b/tab-normal-fade_context.png);
}

.vectorTabs, .vectorTabs span, #mw-head .vectorMenu h3 {
    background-image: url(/skins/Vector/images/tab-separator.png?09d4b);
    background-image: linear-gradient(to bottom,rgba(167,215,249,0) 0,#c18e8e 100%);
}

.vectorTabs li a { color: #aa1717; }
.vectorMenu li a { color: #aa1717; }

.vectorTabs #ca-unwatch.icon a { 
background-image: url(https://wiki.contextgarden.net/images/7/79/unwatch-icon_context.png);
}
.vectorTabs #ca-unwatch.icon a:hover, .vectorTabs #ca-unwatch.icon a:focus { 
background-image: url(https://wiki.contextgarden.net/images/7/79/unwatch-icon_context.png);
}

.vectorTabs #ca-watch.icon a   { 
background-image: url(https://wiki.contextgarden.net/images/b/b2/watch-icon_context.png);
}
.vectorTabs #ca-watch.icon a:hover, .vectorTabs #ca-watch.icon a:focus { 
background-image: url(https://wiki.contextgarden.net/images/b/b2/watch-icon_context.png);
}



/*==============================================================================*/
/* Trial for update of WelcomePage2020.05.25                                    */

body.page-Main_Page h1.firstHeading { border-style: none; color:rgba(0,0,0,0); }
h1.firstHeading { border-style: none;}

#WelcRework {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px ;
    grid-gap: 1.0rem;
    justify-content: space-evenly;
    list-style: none; 
    padding: 1rem;
    margin: 0;
    height: stretch;
    backgound: blue;
}

#WelcRework > li {
    text-align:center;
    font-size: 90%;
    background-color: #eeeee4;  /* #f6f6f6 ; */
    box-shadow: 0px 5px 8px rgba(0,0,0,.25);
    height: stretch;
    width: 100px;
    border-bottom: solid 4px #aa1717;
    height: stretch;
    height: 160px;
}

#WelcRework img {
  margin: 0em;
  box-shadow: none;
  max-width:100%;
  padding: 0px;
}

/*==============================================================================*/
/* DOWNLOAD PAGE                                                                */

#DownloadRework {
    display: grid;
    grid-template-columns: 150px 150px 150px; 
    grid-gap: 1.0rem;
    justify-content: space-evenly;
    list-style: none; 
    padding: 0rem;
    margin: 0;
    list-style-type: none;
    height: stretch;
}

#DownloadRework > li {
    text-align:left;
    background-color: #eeeee4;  /* #f6f6f6 ; */
    box-shadow: 0px 5px 8px rgba(0,0,0,.25);
    height: stretch;
    border-bottom: solid 4px #aa1717;
    padding: 0.25rem;
}

#DownloadRework > li> h3 {
   padding: 0px 0.25rem;
   margin:0px;
}

#DownloadRework > li> ul {
   padding: 0px 0.rem;
}
#DownloadRework > li> ul > li {
   padding: 0px;
   margin: 0px;
}

/*==============================================================================*/
/* MANUALS PAGE                                                                 */

ul.filter-links {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-gap: 0.2em 1.5em;
  justify-content: space-evenly;
  overflow: hidden;
  padding: 1em;
  margin: 0;
}

.filter-links li {
  height: stretch; 
  background-color: #eeeee4;  /* #f6f6f6; */
  text-align:center;
  font-size: 75%;
  padding: 0.1rem 0.1rem;
  border-radius: 8px;
  border: solid 2px #aa1717;
  width: 100px;
}


ul.filter-sections {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  font-size: 85%;
  grid-gap: 1.0rem;
  justify-content: space-evenly;
  overflow: hidden;
  padding: 1rem;
  margin: 0;
}

ul.filter-sections li {
  opacity: 0;
  display: none;
  text-align:center;
  background-color: #eeeee4;  /* #f6f6f6 ; */
  box-shadow: 0px 5px 8px rgba(0,0,0,.25);
  height: stretch;
  border-bottom: solid 4px #aa1717;
}

ul.filter-sections img {
  margin: 0em;
  box-shadow: none;
  max-width:100%;
  padding: 0px;
}

.view {
  display: block !important;
  opacity: 1 !important;
}

@keyframes selected {
  0% {
    border-radius:100%;
  }
}

/*==============================================================================*/
/* TWO and THREE COMLUMNS LISTS                                                 */

div.mw-body-content { max-width: 70em; margin: 0 auto;}

ul.ColumnsUnderLevel1 {
  display: grid; 
  /* grid-template-columns: repeat(auto-fit, minmax(15em, 30em));*/
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-gap: 1.9em; 
  justify-content: space-between; /* before 2025.01.01 space-evenly;  */
  list-style: none;
  padding: 0px; 
  margin: 0px;
}

ul.TwoColumnsHighlight {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(15em, 29em));
  grid-gap: 1.9em; 
  justify-content: space-evenly;
  list-style: none;
  padding: 0px; 
  margin: 0px;
}

ul.ThreeColumnsHighlight {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(15em, 19em));
  grid-gap: 1.4em; 
  justify-content: space-evenly;
  list-style: none;
  padding: 0px; 
  margin: 0px;
}


li.ColumnsHighlight {
  height:stretch; 
  padding: 10px; 
  background-color: #f6f6f6;  /* #eeeee4 ; */
  box-shadow: 0px 5px 8px rgba(0,0,0,.25);
  border-bottom: solid 4px #aa1717;
}

/*==============================================================================*/
/* COLOR NABOX                                                                  */

ul.Navbox {
  display: grid;
  grid-template-columns: repeat(6, 9.5em);
  grid-gap:0.5em;
  justify-content: space-between;
  list-style: none;
  padding: 0rem;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

ul.Navbox > li {
  background-color: #f6f6f6;  /* #eeeee4 ; */
  font-size:80%;
}

ul.Navbox > li > ul {
  padding: 0rem;
  padding-left: 0.5em;
  margin: 0;
  list-style: none;
}

/*==============================================================================*/
/* To make images more responsive */

img {
  max-width:100%;
  height:auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 14px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  margin: 14px; margin-left: 0px; margin-right: 0px;
  padding: 0px;
  border: 0px;
}

p img {
  max-width:100%;
  height:auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 14px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  margin: 14px; margin-left: 0px; margin-right: 0px;
  padding: 0px;
  border: 0px;
}

video {
  max-width:100%;
  height:auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 14px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  margin: 14px; margin-left: 0px; margin-right: 0px;
  padding: 0px;
  border: 0px;
}

p video {
  max-width:100%;
  height:auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 14px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  margin: 14px; margin-left: 0px; margin-right: 0px;
  padding: 0px;
  border: 0px;
}

/* 20250101 switch red color to #aa1717 */

/*==============================================================================*/
/* 20250105 trial ul css for texcode vs output sidebyside */

ul.demo {
  display: grid;
  gap: 0.2em;
  list-style: none;
  padding: 0px;
  margin: 0px;
/*   background : #f8f9fa; */
}

ul.demo li.code {
  padding: 0px;
  margin: 0px;
/*  text-align: left;
    background : #ffaa7f;   */
}

ul.demo li.rendering {
  padding: 0px;
  margin: 0px;
/* text-align: center;
   background : #aaff00 */
}

ul.demosbs {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(15em, 30em));*/
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 1em;
  justify-content: space-between; /* before 2025.01.01 space-evenly;  */
  list-style: none;
  padding: 0px;
  margin: 0px;
/*   background : #f8f9fa; */
}

ul.demosbs li.code {
  padding: 0px;
  margin: 0px;
/* text-align: left;
   background : #ffaa7f; */
}

ul.demosbs li.rendering {
  padding: 0px;
  margin: 0px;
/* text-align: center;
   background : #aaff00 */
}

.wikitablequadrant {border: none; border-spacing: 0.5em;}
.wikitablequadrant tr td
.wikitablequadrant tr th  {border: none;}
.wikitablequadrant th  {background-color: #f6f6f6;}  /* #fdd010*/

html {
    color: var(--color-text);
    background-color: var(--color-background);
    color-scheme: light dark;
}

a:link:not(.new) {
    color: var(--color-link) !important;
    text-decoration: none;
}

a:visited:not(.new) {
    color: var(--color-link-followed) !important;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    /* Center all content in the viewport */
    display: grid;
    justify-items: center;
    align-content: start;
    margin: var(--page-margin);
    font-size: var(--base-font-size);

    /* Use the default system-ui font, when available */
    font-family: 'Segoe UI', ui-sans-serif, system-ui, sans-serif;
    line-height: 1.4;
    /* Slight Enlargement */
    hyphens: auto;
    font-variant-ligatures: common-ligatures contextual;
    font-kerning: normal;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    text-wrap-style: pretty;
    font-size-adjust: ex-height 0.53;
}

body * {
    min-width: 0;
}

:focus-visible {
    border-radius: 4px;
    outline: 2px solid var(--color-text);
    outline-offset: 2px;
}

::selection {
    background-color: var(--color-faded);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-faded) var(--color-background);
}

h1 {
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: max(var(--heading-base), var(--base-font-size));
    padding-bottom: 0.1em;
    border-bottom: 1px solid var(--color-faded);
    font-weight: 700;
}

h2 {
    font-size: max(calc(var(--heading-base) * var(--heading-ratio)), var(--base-font-size));
    font-weight: 700;
    margin-top: var(--margin-big);
    margin-bottom: var(--margin-small);
}

h3 {
    font-size: max(calc(var(--heading-base) * var(--heading-ratio) * var(--heading-ratio)), var(--base-font-size));
    font-weight: 700;
    margin-top: var(--margin-big);
    margin-bottom: var(--margin-small);
}

h4 {
    font-size: max(calc(var(--heading-base) * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio)), var(--base-font-size));
    font-weight: 500;
    font-style: italic;
    margin-top: var(--margin-big);
    margin-bottom: var(--margin-small);
}

h5 {
    font-size: calc(var(--base-font-size) * 0.9);
    font-weight: 500;
    color: var(--color-semi);
    margin-top: var(--margin-big);
    margin-bottom: var(--margin-small);
}

:is(h1, h2, h3, h4, h5)+* {
    margin-top: 0;
}

header p:last-of-type {
    font-style: italic;
}

@media (min-width: 40rem) {
    header p:first-of-type {
        position: absolute;
        left: var(--margin-width);
    }

    header p:last-of-type {
        position: absolute;
        font-style: italic;
        right: var(--margin-width);
    }
}

header {
    padding-bottom: var(--margin-big);
}

p {
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-small);
}

code {
    font-family: var(--monospace-font);
    overflow-wrap: anywhere;
    hyphens: none;
    tab-size: 4;
}

section,
header,
footer,
article,
body nav {
    display: block;
    width: 100%;
    max-width: var(--max-page-width);
}

code.block {
    display: block;
    max-width: 100%;
}

footer {
    margin-top: 1em;
    padding-top: 0;
    border-top: 1px solid var(--color-faded);
}

footer ul {
    padding-left: 2ch;
}

@media (min-width: 40rem) {
    footer ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
    }

    footer ul li {
        display: inline;
        list-style-type: none;
        padding: 0;
    }

    footer ul li:first-of-type {
        margin-right: auto
    }

    footer li:not(:last-child):not(:first-child)::after {
        content: " • ";
    }
}

abbr {
    text-decoration: none;
    font-variant-caps: all-small-caps;
    font-variant-numeric: oldstyle-nums;
    font-size: 1.075em;
}

svg,
img {
    background-color: hsla(0, 0%, 100%, 0%);
    transition: all 250ms ease-out;
}

svg:hover,
img:hover {
    background-color: hsla(0, 0%, 100%, 100%);
    transition: all 250ms ease-in;
}

pre {
    max-width: calc(100vw - var(--page-margin) * 2);
    overflow-x: auto;
    hyphens: none;
    margin: calc(2 * var(--margin-small)) 0;
}

pre.scroll {
    overflow-y: auto;
    max-height: 90vh;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-color-scheme: dark) {
    :is(.cmd, pre, table) {
        --color-background: var(--color-light);
        --color-text: var(--color-dark);
        --color-link: var(--color-blue);
        --color-link-followed: var(--color-purple);
        --color-faded: var(--color-dark-faded);
        --color-semi: var(--color-dark-semi);
        color: var(--color-text);
    }

    :is(.cmd, pre):not(table, td, td, tr),
    table {
        filter: invert(1) hue-rotate(180deg) !important;
    }

    table :is(.cmd, pre) {
        filter: unset !important;
    }
}